<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/script.js" defer></script>
    <title>SEA Catering</title>
</head>
<body>
    <div class="body">
        <div class="welcome">>
            <!-- navigation bar -->
            <nav class="navbar">
                <div class="navlinks">
                    {% if session.email %}
                        <a href="{{ url_for('dashboard') }}" class="navlink">Account</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="navlink">Login</a>
                    {% endif %}
                    <a href="{{ url_for('home') }}" class="navlink">Home</a>
                    <a href="{{ url_for('meal') }}" class="navlink">Meal Plans</a>
                    <a href="{{ url_for('subscription') }}" class="navlink">Subscription</a>
                    <a href="{{ url_for('contact') }}" class="navlink active">Contact Us</a>
                </div>
                <div class="logo">
                    <img src="../static/logo1.png" alt="Logo" class="navimage">
                    <img src="../static/logo2.png" alt="Logo" class="navimage">
                </div>
            </nav>

            <!-- contact -->
            <div class="title">📞 Contact Us 📞</div>
            <div class="contact-container">
                <div class="contact-item">Brian</div>
                <div class="contact-item">08123456789</div>
            </div>
        </div>

        <footer>
            <!-- contact details -->
            <div class="footer-container">
                <div class="footer-item1">Contact Us</div>
                <div class="footer-item2">Brian</div>
                <div class="footer-item2">☏ 08123456789</div>
            </div>
        </footer>
    </div>
</body>
</html>