<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <title>SEA Catering</title>
</head>
<body>
    <div class="body">
        <main>
            <!-- navigation bar -->
            <nav class="navbar">
                <div class="navlinks">
                    {% if session.email %}
                        <a href="{{ url_for('dashboard') }}" class="navlink">Account</a>
                    {% else %}
                        <a href="{{ url_for('login') }}" class="navlink">Login</a>
                    {% endif %}
                    <a href="{{ url_for('home') }}" class="navlink active">Home</a>
                    <a href="{{ url_for('meal') }}" class="navlink">Meal Plans</a>
                    <a href="{{ url_for('subscription') }}" class="navlink">Subscription</a>
                    <a href="{{ url_for('contact') }}" class="navlink">Contact Us</a>
                </div>
                <div class="logo">
                    <img src="../static/logo1.png" alt="Logo" class="navimage">
                    <img src="../static/logo2.png" alt="Logo" class="navimage">
                </div>
            </nav>

            <!-- title -->
            <h1 style="font-size: 50px;">SEA Catering</h1>
            <h3 style="font-size: 30px;">Healthy Meals, Anytime, Anywhere</h3>
        </main>

        <div class="welcome">
            <!-- flash message -->
            {% with messages = get_flashed_messages() %}
            {% if session.email %}
                {% if messages %}
                    <div id="flash" class="flash">
                        <div class="flash-container">
                        {% for message in messages %}
                            <div class="flash-message">
                                <div class="flash-title">{{ message }}</div>
                                <button id="close-btn" class="flash-btn">&times;</button>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                {% endif %}
            <!-- welcoming section -->
            <div class="welcome-container">
                <div class="welcome-item1">🥗 Welcome {{ session.email }} to SEA Catering 🥗</div>
            {% else %}
            <div class="welcome-container">
                <div class="welcome-item1">🥗 Welcome to SEA Catering 🥗</div>
            {% endif %}
            {% endwith %}
                <img src="../static/welcome-image.png" alt="Food" class="welcome-img">
                <div class="welcome-item2">
                    SEA Catering believe that healthy eating should be simple, delicious, and tailored to customer lifestyle.
                    Whether you're aiming to lose weight, build muscle, manage a health condition, eat cleaner, or to live a better lifestyle, our customizable meal plans are designed to suit your needs without compromising on taste.
                    From Sabang to Merauke and everywhere in between, we deliver fresh, nutritious meals straight to your door.
                    With flexible options, chef-crafted menus, and ingredients you can trust, SEA Catering is here to make healthy living more convenient than ever.
                </div>
                <div class="welcome-item2" style="font-weight: bold;">Your Personalized Healthy Meal Partner Delivered Anywhere in Indonesia.</div>
            </div>

            <!-- key features and services -->
            <div class="title">Our Services</div>
            <div class="container">
                <div class="itemcontainer">
                    <div class="item1">Customizable Meal Plans 🍱</div>
                    <div class="item2">
                        For every meal, SEA Catering provides a complete breakdown of calories, macronutrients, vitamins, and allergens.
                        Additionally, clear tags indicate the presence of common allergens (such as nuts, dairy, soy, and gluten), and customers have the option to exclude specific allergens during meal customization.
                    </div>
                </div>
                <div class="itemcontainer">
                    <div class="item1">Delivery to Major Cities in Indonesia 🚛</div>
                    <div class="item2">
                        Our service provides fast, reliable delivery across metropolitan areas throughout Indonesia, along with easy ordering and tracking for every order.
                        To ensure freshness and food safety, we offer cold-chain packaging so our customers always receive meals at peak quality, with an eco-friendly, recyclable, and biodegradable packaging.
                    </div>
                </div>
                <div class="itemcontainer">
                    <div class="item1">Detailed Nutritional Information 🍽️</div>
                    <div class="item2">
                        For every meal, SEA Catering provides a complete breakdown of calories, macronutrients, vitamins, and allergens.
                        Additionally, clear tags indicate the presence of common allergens (such as nuts, dairy, soy, and gluten), and customers have the option to exclude specific allergens during meal customization.
                    </div>
                </div>
                <div class="itemcontainer">
                    <div class="item1">Subscription and One Time Order Option 📝</div>
                    <div class="item2">
                        We offer flexible plans to suit every lifestyle and budget, with the freedom to pause or cancel anytime—no hidden fees.
                        In addition, we provide healthy group meals perfect for meetings, team lunches, and corporate events.
                        For larger occasions, we also offer special packages tailored for fitness retreats, wellness events, and seminars.
                    </div>
                </div>
            </div>

            <!-- testimonial slider -->
            <div class="testimonial">
                <div class="title">People Say About Us</div>
                <div class="slideshow-container">
                    {% for testimoni in testimonial %}
                        {% if loop.index == 1 %}
                            <div class="slide" style="display: block;">
                                <div class="slide-container">
                                    <div class="slide-title">{{ testimoni.Name }}</div>
                                    <div class="slide-message">{% for num in range(0, testimoni.Rating) %}⭐️{% endfor %} - "{{ testimoni.ReviewMessage }}"</div>
                                </div>
                            </div>
                        {% else %}
                            <div class="slide">
                                <div class="slide-container">
                                    <div class="slide-title">{{ testimoni.Name }}</div>
                                    <div class="slide-message">{% for num in range(0, testimoni.Rating) %}⭐️{% endfor %} - "{{ testimoni.ReviewMessage }}"</div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}

                    <a class="prev" onclick="next(-1)">&#10094;</a>
                    <a class="next" onclick="next(1)">&#10095;</a>
                </div>
                <div style="text-align: center;">
                    {% for testimoni in testimonial %}
                        <span class="dot" onclick="current('{{ loop.index }}')"></span>
                    {% endfor %}
                </div>
            </div>

            <!-- form -->
            {% if session.role == 'user' %}
                <div class="feedback-container">
                    <div class="title">Testimonial</div>
                    <form class="feedback" action="{{ url_for('home') }}" method="POST">
                        <div class="feedback-title">Customer Name</div>
                        <input type="text" id="Name" name="Name" placeholder="Name" required>
                        <div class="feedback-title">Rating</div>
                        <div style="margin-bottom: 0.5rem;">
                            <select name="Rating" required>
                                <option selected disabled>Choose Rating</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                            </select>
                        </div>
                        <div class="feedback-title">Review Message</div>
                        <textarea name="Review Message" class="feedback-review" placeholder="Review Message"></textarea>
                        <button type="submit">Submit Review</button>
                    </div>
                </div>
            {% endif %}
        </div>

        <footer>
            <!-- contact details -->
            <span class="footer-item1">Contact Us</span>
            <div class="footer-item2">Brian</div>
            <div class="footer-item2">☏ 08123456789</div>
        </footer>
        
        <script>
            // flash message
            const flash = document.getElementById("flash");
            const closebtn = document.getElementById("close-btn");
            closebtn.addEventListener("click", () => {
                flash.classList.add("slideout");
                setTimeout(() => {
                    flash.classList.remove("active", "slideout");
                    flash.style.display = "none";
                }, 200);
            });
        </script>

        <script>
            // carousel testimonial
            let idx = 1;
            show(idx);
            function next(n) {
                show(idx += n);
            }
            function current(n) {
                show(idx = n);
            }
            function show(n) {
                let slides = document.getElementsByClassName("slide");
                let dots = document.getElementsByClassName("dot");
                if (n > slides.length) {
                    idx = 1
                }
                if (n < 1) {
                    idx = slides.length
                }
                for (let slide of slides) {
                    slide.style.display = "none";
                }
                for (let dot of dots) {
                    dot.classList.remove("active");
                }
                slides[idx-1].style.display = "block";
                dots[idx-1].classList.add("active");
            }
        </script>
    </div>
</body>
</html>