<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/script.js" defer></script>
    <title>SEA Catering</title>
</head>
<body>
    <div class="body">
        <div class="welcome">
            <!-- flash message -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash" class="flash">
                    <div class="flash-container">
                    {% for message in messages %}
                        <div class="flash-message">
                            <div class="flash-title">{{ message }}</div>
                            <button id="close-btn" class="flash-btn">&times;</button>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% endwith %}

            <!-- navigation bar -->
            <nav class="navbar">
                <div class="navlinks">
                    <a href="{{ url_for('dashboard') }}" class="navlink active">Account</a>
                    <a href="{{ url_for('home') }}" class="navlink">Home</a>
                    <a href="{{ url_for('meal') }}" class="navlink">Meal Plans</a>
                    <a href="{{ url_for('subscription') }}" class="navlink">Subscription</a>
                    <a href="{{ url_for('contact') }}" class="navlink">Contact Us</a>
                </div>
                <div class="logo">
                    <img src="../static/logo1.png" alt="Logo" class="navimage">
                    <img src="../static/logo2.png" alt="Logo" class="navimage">
                </div>
            </nav>

            <!-- new-subscriptions search -->
            {% if subscriptions %}
                <div class="new-subs-yes">
                    <div class="title">New Subscriptions</div>
                    <form class="new-subs" action="{{ url_for('newSubscriptions') }}" method="POST">
                        <label for="start" style="border-radius: 1rem 0 0 0;">Start Date</label>
                        <input type="datetime-local" id="start" name="start_date" required style="border-radius: 0 1rem 0 0;">
                        
                        <label for="start">End Date</label>
                        <input type="datetime-local" id="start" name="end_date" required>

                        <button type="submit">Pick Date</button>
                    </form>
                </div>
            {% else %}
                <div class="new-subs-no">
                    <div class="title">New Subscriptions</div>
                    <form class="new-subs" action="{{ url_for('newSubscriptions') }}" method="POST">
                        <label for="start" style="border-radius: 1rem 0 0 0;">Start Date</label>
                        <input type="datetime-local" id="start" name="start_date" required style="border-radius: 0 1rem 0 0;">
                        
                        <label for="start">End Date</label>
                        <input type="datetime-local" id="start" name="end_date" required>

                        <button type="submit">Pick Date</button>
                    </form>
                </div>
            {% endif %}

            {% if subscriptions %}
                <div class="reactivate-container">
                    <div class="title">Total New Customers : {{ subscriptions | length }}</div>
                    {% for subscription in subscriptions %}
                        <div class="subs-container">
                            <div class="subs-container-top">Subscription #{{ subscription.SubscriptionID }}</div>
                            <div class="subs-container-item-title">User</div>
                            <div class="subs-container-item">{{ subscription.Name }}</div>
                            <div class="subs-container-item-title">Phone Number</div>
                            <div class="subs-container-item">+62 {{ subscription.PhoneNumber }}</div>
                            <div class="subs-container-item-title">Plan Selection</div>
                            <div class="subs-container-item">{{ subscription.PlanSelection }}</div>
                            <div class="subs-container-item-title">Meal Type</div>
                            <div class="subs-container-item">{{ subscription.MealType }}</div>
                            <div class="subs-container-item-title">Delivery Days</div>
                            <div class="subs-container-item">{{ subscription.DeliveryDays }}</div>
                            <div class="subs-container-item-title">Allergies or Dietary Restrictions</div>
                            {% if subscription.Allergies == '' %}
                                <div class="subs-container-item">None</div>
                            {% else %}
                                <div class="subs-container-item">{{ subscription.Allergies }}</div>
                            {% endif %}
                            <div class="subs-container-item-title">Prices</div>
                            <div class="subs-container-item">{{ subscription.Prices }}</div>
                            <div class="subs-container-item-title" style="border-radius: 0 0 0 1rem;">Status</div>
                            <div class="subs-container-item" style="border-radius: 0 0 1rem 0;">{{ subscription.Status }}</div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        <footer>
            <!-- contact details -->
            <span class="footer-item1">Contact Us</span>
            <div class="footer-item2">Brian</div>
            <div class="footer-item2">☏ 08123456789</div>
        </footer>

        <script>
            // flash message
            const flash = document.getElementById("flash");
            const closebtn = document.getElementById("close-btn");
            closebtn.addEventListener("click", () => {
                flash.classList.add("slideout");
                setTimeout(() => {
                    flash.classList.remove("active", "slideout");
                    flash.style.display = "none";
                }, 200);
            });
        </script>
    </div>
</body>
</html>