<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/script.js" defer></script>
    <title>SEA Catering</title>
</head>
<body>
    <div class="body">
        <div class="welcome">
            <!-- flash message -->
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div id="flash" class="flash">
                    <div class="flash-container">
                    {% for message in messages %}
                        <div class="flash-message">
                            <div class="flash-title">{{ message }}</div>
                            <button id="close-btn" class="flash-btn">&times;</button>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            {% endif %}
            {% endwith %}

            <!-- navigation bar -->
            <nav class="navbar">
                <div class="navlinks">
                    <a href="{{ url_for('dashboard') }}" class="navlink active">Account</a>
                    <a href="{{ url_for('home') }}" class="navlink">Home</a>
                    <a href="{{ url_for('meal') }}" class="navlink">Meal Plans</a>
                    <a href="{{ url_for('subscription') }}" class="navlink">Subscription</a>
                    <a href="{{ url_for('contact') }}" class="navlink">Contact Us</a>
                </div>
                <div class="logo">
                    <img src="../static/logo1.png" alt="Logo" class="navimage">
                    <img src="../static/logo2.png" alt="Logo" class="navimage">
                </div>
            </nav>

            <!-- user dashboard -->
            <div class="user-dashboard">
                <div class="title">👤 SEA Catering Account 👤</div>
                <div class="user">
                    {% if session.role == 'user' %}
                        <div class="subscription-user-item"><a href="{{ url_for('profile') }}">Profile Section</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('viewSubscription') }}">View Active Subscription</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('pausesubscription') }}">Pause Subscription</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('reactivatesubscription') }}">Reactivate Subscription</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('cancelsubscription') }}">Cancel Subscription</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('logout') }}">Logout</a></div>
                    {% else %}
                        <div class="subscription-user-item"><a href="{{ url_for('profile') }}">Profile Section</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('newSubscriptions') }}">New Subscriptions</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('monthlyRecurringRevenue') }}">Monthly Recurring Revenue (MRR)</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('reactivations') }}">Reactivations</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('subscriptionGrowth') }}">Subscription Growth</a></div>
                        <div class="subscription-user-item"><a href="{{ url_for('logout') }}">Logout</a></div>
                    {% endif %}
                </div>
            </div>
        </div>

        <footer>
            <!-- contact details -->
            <span class="footer-item1">Contact Us</span>
            <div class="footer-item2">Brian</div>
            <div class="footer-item2">☏ 08123456789</div>
        </footer>

        <script>
            // flash message
            const flash = document.getElementById("flash");
            const closebtn = document.getElementById("close-btn");
            closebtn.addEventListener("click", () => {
                flash.classList.add("slideout");
                setTimeout(() => {
                    flash.classList.remove("active", "slideout");
                    flash.style.display = "none";
                }, 200);
            });
        </script>

    </div>
</body>
</html>