<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/index.css">
    <script type="text/javascript" src="../static/js/script.js" defer></script>
    <title>SEA Catering</title>
</head>
<body>
    <div class="body">
        <div class="welcome">
            <!-- navigation bar -->
            <nav class="navbar">
                <div class="navlinks">
                    <a href="{{ url_for('dashboard') }}" class="navlink active">Account</a>
                    <a href="{{ url_for('home') }}" class="navlink">Home</a>
                    <a href="{{ url_for('meal') }}" class="navlink">Meal Plans</a>
                    <a href="{{ url_for('subscription') }}" class="navlink">Subscription</a>
                    <a href="{{ url_for('contact') }}" class="navlink">Contact Us</a>
                </div>
                <div class="logo">
                    <img src="../static/logo1.png" alt="Logo" class="navimage">
                    <img src="../static/logo2.png" alt="Logo" class="navimage">
                </div>
            </nav>

            <!-- view subscription -->
            <div class="view-subs-container">
                {% if session.role == 'user' %}
                    <div class="title">🧾 Active Subscription 🧾</div>
                    {% for subscription in subscriptions %}
                        {% if subscription.Status == 'active' %}
                            <div class="subs-container">
                                <div class="subs-container-top">Subscription #{{ loop.index }}</div>
                                <div class="subs-container-item-title">Phone Number</div>
                                <div class="subs-container-item">+62 {{ subscription.PhoneNumber }}</div>
                                <div class="subs-container-item-title">Plan Selection</div>
                                <div class="subs-container-item">{{ subscription.PlanSelection }}</div>
                                <div class="subs-container-item-title">Meal Type</div>
                                <div class="subs-container-item">{{ subscription.MealType }}</div>
                                <div class="subs-container-item-title">Delivery Days</div>
                                <div class="subs-container-item">{{ subscription.DeliveryDays }}</div>
                                <div class="subs-container-item-title">Allergies or Dietary Restrictions</div>
                                {% if subscription.Allergies == '' %}
                                    <div class="subs-container-item">None</div>
                                {% else %}
                                    <div class="subs-container-item">{{ subscription.Allergies }}</div>
                                {% endif %}
                                <div class="subs-container-item-title" style="border-radius: 0 0 0 1rem;">Prices</div>
                                <div class="subs-container-item" style="border-radius: 0 0 1rem 0;">{{ subscription.Prices }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <footer>
            <!-- contact details -->
            <span class="footer-item1">Contact Us</span>
            <div class="footer-item2">Brian</div>
            <div class="footer-item2">☏ 08123456789</div>
        </footer>
    </div>
</body>
</html>